@charset "utf-8";

*{margin:0;padding:0;}
header,nav,section,article,aside,footer,hgroup,menu,canvas,figcaption,figure{display:block;}
html,body,table,th,td,div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,fieldset,label,input,textarea,select,span,iframe,dl,dt,dd,pre,blockquote,time,hr{margin:0;padding:0;}

/* basic */
body{font-family:"돋움",Dotum,"굴림",Gulim,Arial,sans-serif;font-size:12px;color:#555;}
div,p,ol,ul,li,img,a,h1,h2,h3,form,span,iframe,dl,dt,dd{}
dl,ul,ol{list-style:none;}
table{empty-cells:show;border-collapse: collapse;width:100%;table-layout:fixed;}
fieldset{border:none;}
legend,caption,hr{display:none;}
img{border:none;}
img,label{vertical-align:middle;}
input{vertical-align:middle;}
input[type=text],
input[type=file]
input[type=password]{height:21px;margin:0;padding:0 2px;vertical-align:middle;font-size:12px;color:#555;line-height:23px;border:1px solid #c1c1c1;background-color:#fff;*margin-top:-1px;*line-height:21px;}
input[type=checkbox],input[type=radio]{width:13px;height:13px;border:none;background:transparent;vertical-align:middle;-webkit-border-radius:0;}
input.dis,select.dis{background:#f5f5f7;color:#999;}
select,textarea{margin:0;vertical-align:middle;font-family:"돋움",Dotum,"굴림",Gulim,Arial,sans-serif;font-size:12px;border:1px solid #c1c1c1;}
select{height:23px;}

/* align */
.tac{text-align:center !important;}
.tar{text-align:right !important;}
.tal{text-align:left !important;}

.vat{vertical-align:top !important;}
.vam{vertical-align:middle !important;}
.vab{vertical-align:bottom !important;}

.frt{float:right !important;}
.flt{float:left !important;}

.cboth{clear:both;*overflow:hidden;}
.cboth:before,.cboth:after{display:table;content:'';}
.cboth:after{clear:both;}

/* text common */
/* default link */
a{cursor:pointer;}
a:link,a:visited{text-decoration:none;color:#555;}
a:hover,a:active{text-decoration:none;color:#555;}

/* font size, color */
.fs11{font-size:11px !important;}
.tc_r{color:#f44949 !important;}
.tc_b{color:#618ed4 !important;}
.tc_g{color:#999 !important;}
.tc_dg{color:#333 !important;}
.fwb{font-weight:bold !important;}
.fwn{font-weight:normal !important;}

/* margin/padding */
.mgt5{margin-top:5px !important;}
.mgt10{margin-top:10px !important;}
.mgt20{margin-top:20px !important;}
.mgt30{margin-top:30px !important;}
.mgb10{margin-bottom:10px !important;}
.pdt5{padding-top:5px !important;}
.pdt10{padding-top:10px !important;}
.pdt20{padding-top:20px !important;}

/* etc */
.blind{display:none !important;}
.skip{position:absolute;top:-100000px;left:-100000px;visibility:hidden;overflow:hidden;}
